# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
app1.js
app2.js
index2.html

# Env & secrets
.env
*.local

# Build artifacts
dist/
build/
coverage/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Netlify/CLI cache (opsional)
.netlify/